.panel {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.panel-contenido {
  width: 80%;
  max-width: 1200px;
  margin-top: 20px;
}

.panel section {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.panel section:last-child {
  margin-bottom: 0;
}

.panel p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 10px;
}

.button-editar {
  background-color: #3085d6;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin-right: 10px;
}

.button-editar:hover {
  background-color: #0056b3;
}

.button-cancelar {
  background-color: #d33;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin-right: 10px;
}

.button-cancelar:hover {
    background-color: rgb(177, 4, 4)
  }
  
